<a href="https://colab.research.google.com/github/smartinternz02/SI-GuidedProject-582425-1694712726/blob/main/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment 1
Task - 1 Create a pandas dataframe (DataFrame name as 'df') (10 observation and 5 features)

Task- 2 Check the info of 'df'

Task 3- Check the descriptive statistics of 'df'

Task 4- check the 4th index observation with 'loc' slicing operator.

Task 5 - Check the null values in your 'df'

In [ ]:
import pandas as pd
import numpy as np

# Task 1: Create a pandas DataFrame
data = {
    'Parameter1': np.random.rand(10),
    'Parameter2': np.random.randint(1, 100, 10),
    'Parameter3': np.random.choice(['A', 'B', 'C'], 10),
    'Parameter4': np.random.randn(10),
    'Parameter5': np.random.uniform(0, 1, 10)
}

df = pd.DataFrame(data)
df

   Parameter1  Parameter2 Parameter3  Parameter4  Parameter5
0    0.470546          20          C    0.281440    0.427020
1    0.440849          42          B    0.737808    0.537329
2    0.686796          63          A    0.309058    0.978294
3    0.483250          19          A    0.551620    0.657036
4    0.130623          10          C    0.831181    0.001373
5    0.981631          30          C    0.486864    0.664320
6    0.087923          99          C   -0.384976    0.032137
7    0.005600          33          B    1.368624    0.447216
8    0.377544          39          A    1.641281    0.247600
9    0.936522          81          A    0.342580    0.484718

In [ ]:
# Task 2: Check the info of 'df'
print(df.info())
print("\n")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Parameter1  10 non-null     float64
 1   Parameter2  10 non-null     int64
 2   Parameter3  10 non-null     object
 3   Parameter4  10 non-null     float64
 4   Parameter5  10 non-null     float64
dtypes: float64(3), int64(1), object(1)
memory usage: 528.0+ bytes
None

In [ ]:
# Task 3: Check the descriptive statistics of 'df'
print(df.describe())
print("\n")

       Parameter1  Parameter2  Parameter4  Parameter5
count   10.000000   10.000000   10.000000   10.000000
mean     0.460129   43.600000    0.616548    0.447704
std      0.335300   28.783483    0.575660    0.297031
min      0.005600   10.000000   -0.384976    0.001373
25%      0.192353   22.500000    0.317439    0.292455
50%      0.455697   36.000000    0.519242    0.465967
75%      0.635909   57.750000    0.807838    0.627109
max      0.981631   99.000000    1.641281    0.978294

In [ ]:

# Task 4: Check the 4th index observation with 'loc' slicing operator
print(df.loc[4])
print("\n")

Parameter1    0.130623
Parameter2          10
Parameter3           C
Parameter4    0.831181
Parameter5    0.001373
Name: 4, dtype: object

In [ ]:
# Task 5: Check the null values in 'df'
print(df.isnull().sum())

Parameter1    0
Parameter2    0
Parameter3    0
Parameter4    0
Parameter5    0
dtype: int64